/* Global usings */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
*:focus {
  outline: none;
}
button {
  border: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* End Global usings */
/* start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px ;
}
@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    width: 90px;
    height: 2px;
    background-color: black;
    bottom: -20px;
  }
  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    bottom: -30px;
    border: 6px solid white;
  }
}
.sidebar ul li {
  margin-top: 10px;
}
.sidebar ul li a {
  transition: 0.5s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 62px;
    padding: 10px;
  }
  .sidebar h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
/* end Sidebar */
/* Start content */
.content {
  overflow: hidden;
}
.content .info .dash {
  font-size: 40px;
}
.content .info > h2::before,
.content .info > h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  border-radius: 6px;
}
.content .info > h2::before {
  width: 150px;
  background-color: white;
}
.content .info > h2::after {
  width: 50px;
  background-color: black;
}
@media (max-width: 767px) {
  .info {
    padding: 10px;
  }
}
.info .wrapper {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.info .wrapper > div {
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .info .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
  }
}
/* Start welcome */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px
}
.welcome .avater {
  width: 64px;
  height: 64px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
  margin-left: 32px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  font-size: 20px;
}
.welcome .body > div span {
  margin-top: 15px;
  font-size: 15px;
}
.welcome a {
  margin: 15px 15px 15px auto;
  transition: 0.5s;
}
.welcome a:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .avater {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* End welcome */
/* Start Draft */
.draft input,
.draft textarea, 
.draft button {
  outline: none;
  border: none;
}
.draft input,
.draft textarea {
  font-size: 18px;
}
.draft textarea {
  min-height: 180px;
  resize: none;
}
.draft button {
  margin: 30px 0 0 auto;
  cursor: pointer;
}
/* End Draft */
/* Start Yearly Targets */
.targets .box {
  margin-top: 20px;
}
.targets .box > div {
  flex: 1;
}
.targets .box span {
  align-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.targets .box .progress div {
  margin-top: 10px;
  height: 5px;
}
.targets .box .progress::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;
}
.targets .box .progress div::after {
  content: attr(data-progress);
  color: white;
  position: absolute;
  padding: 4px 6px;
  border-radius: 6px;
  top: -40px;
  right: -20px;
}
.targets .box:first-child .progress div::after {
  background-color: var(--blue-color);
}
.targets .box:nth-child(2) .progress div::after{
  background-color: var(--orange-color);
}
.targets .box:last-child .progress div::after {
  background-color: var(--green-color);
}
.targets .box .progress div::before {
  content: '';
  position: absolute;
  width: 0;
  border: 10px solid;
  top: -15px;
  right: -9px;
}
.targets .box:first-child .progress div::before {
  border-color: var(--blue-color) transparent transparent transparent;
}
.targets .box:nth-child(2) .progress div::before {
  border-color: var(--orange-color) transparent transparent transparent;
}
.targets .box:last-child .progress div::before {
  border-color: var(--green-color) transparent transparent transparent;
}
.targets .box:first-child span, 
.targets .box:first-child .progress::before {
  background-color: #0077ff5b;
}
.targets .box:nth-child(2) span, 
.targets .box:nth-child(2) .progress::before {
  background-color: #f59f0b6a;
}
.targets .box:nth-child(3) span, 
.targets .box:nth-child(3) .progress::before {
  background-color: #22c55e53;
}
/* End Yearly Targets */
/* Start Statistics */
.statistics .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .statistics .box {
    width: calc(100%);
  }
}
.statistics .box:hover {
  box-shadow: 0 0 10px #ddd;
}
.statistics .box h3 {
  font-size: 25px;
}
/* End Statistics */
/* start news */
.news .box {
  padding: 22px 0;
}
@media (max-width: 767px) {
  .news .box,
  .news .box .info {
    flex-direction: column;
    justify-content: center;
  }
  .news .box .info {
    text-align: center;
  }
  .news .box button {
    margin-top: 15px;
  }
}
.news .box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.news .image {
  overflow: hidden;
}
.news img {
  width: 100px;
  margin-right: 15px;
}
.news .box  .info {
  flex: 1;
}
/* end news */
/* Start tasks ? */
.tasks .box {
  padding: 15px 0;
}
.tasks .box:nth-child(5) {
  opacity: 0.5;
}
.tasks .box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.tasks .box:last-child {
  padding-bottom: 5px;
}
.tasks .box:nth-child(5) h3,
.tasks .box:nth-child(5) p {
  text-decoration: line-through;
}
.tasks .box i {
  cursor: pointer;
  transition: 0.5s;
}
.tasks .box i:hover {
  color: var(--red-color);
}
/* End tasks */
/* Start Search */
.search .box {
  padding: 20px 0;
}
.search .box p:first-child {
  font-size: 20px;
}
.search .box button {
  padding: 5px 15px;
}
/* End Search */
/* Start Latest Uploads */
.uploads .box {
  padding: 15px 0;
}
.uploads .box:not(:last-child) {
  border-bottom: 1px solid #cccccc94;
}
.uploads .box img {
  width: 50px;
  margin-right: 10px;
}
.uploads .box .file {
  flex: 1;
}
.uploads .box .file div p:first-child {
  font-size: 17px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .uploads .box .file div p:first-child {
    font-size: 15px;
  }
}
/* Start Latest Uploads */
/* Start Projects */
.projects .body{
  align-items: flex-end;
}
.projects .progress {
  flex: 1;
}
@media (max-width: 767px) {
  .projects p {
    font-size: 14px;
  }
}
.projects img {
  width: 160px;
  opacity: 0.2;
}
.projects .progress .box {
  padding: 15px 0;
  font-size: 20px;
}
.projects .progress .box span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px var(--blue-color);
  margin-right: 15px;
  position: relative;
}
.projects .progress .box:not(:last-child) span::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 32px;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--blue-color);
}
.projects .progress .box:not(:last-child) span::before {
  content: '';
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  border-radius: 50%;
}
.projects .progress .box:nth-child(4) span::before {
  animation: opacity-change linear 1s infinite alternate backwards;
}
@keyframes opacity-change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* End Projects */
/* Start reminders */
@media (max-width: 767px) {
  .reminders-body h2 {
    font-size: 14px;
  }
}
.reminders-body {
  align-items: center;
}
.reminders .box {
    padding: 5px 0 5px 20px;
    border-left: 3px solid;
}
.reminders-body:nth-child(2) .box {
  border-left-color: var(--blue-color);
}
.reminders-body:nth-child(3) .box {
  border-left-color: var(--green-color);
}
.reminders-body:nth-child(4) .box {
  border-left-color: var(--orange-color);
}
.reminders-body:nth-child(5) .box {
  border-left-color: var(--red-color);
}
.reminders-body span {
  display: block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
} 
.reminders-body:nth-child(2) span {
  background-color: var(--blue-color);
}
.reminders-body:nth-child(3) span {
  background-color: var(--green-color);
}
.reminders-body:nth-child(4) span {
  background-color: var(--orange-color);
}
.reminders-body:nth-child(5) span {
  background-color: var(--red-color);
}
/* End reminders */
/* Start Posts */
.posts .name {
  padding: 20px 0;
  border-bottom: 1px solid hsl(0, 0%, 20%, 20%);
}
.posts .name img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}
.posts .comment {
  font-size: 20px;
  line-height: 2;
  border-bottom: 1px solid hsl(0, 0%, 20%, 20%);
}
.posts .reacts {
  padding: 30px 0 20px;
}
.posts .icon {
  font-size: 18px;
}
/* End Posts */
/* Start Social */
.social .box {
  position: relative;
}
.social .box div {
  padding: 20px 20px 20px 83px;
  flex: 1;
}
.social .box:nth-child(2) div {
    background-color: hsl(203, 89%, 53%, 40%);
}
.social .box:nth-child(3) div {
    background-color: hsl(203, 89%, 53%, 40%);
}
.social .box:nth-child(4) div {
    background-color: hsl(0, 100%, 50%, 40%);
}
.social .box:nth-child(5) div {
    background-color: hsl(203, 89%, 53%, 40%);
}
.social .box:nth-child(2) div p {
    color: #1da1f2;
}
.social .box:nth-child(3) div p {
    color: #1877f2;
}
.social .box:nth-child(4) div p {
    color: #ff0000;
}
.social .box:nth-child(5) div p {
    color: #0077b5;
}
.social .box div p {
  font-size: 18px;
}
.social .box > span {
  position: absolute;
  display: block;
  width: 63px;
  height: 100%;
  text-align: center;
  line-height: 80px;
  transition: 0.5s;
  transform-origin: center;
}
.social .box > span:hover {
  transform: rotate(6deg);
}
.social .box:nth-child(2) > span,
.social .box:nth-child(2) button {
    background-color: #1da1f2;
}
.social .box:nth-child(3) > span,
.social .box:nth-child(3) button {
    background-color: #1877f2;
}
.social .box:nth-child(4) > span,
.social .box:nth-child(4) button {
    background-color: #ff0000;
}
.social .box:nth-child(5) > span,
.social .box:nth-child(5) button {
    background-color: #0077b5;
}
.social .box div p {
  font-size: 18px;
}
@media (max-width: 767px) {
  .social .box div p {
    font-size: 14px;
  }
}
/* End Social */
/* Start Projects-table */
.projects-table .responsive-table {
  overflow-x: auto;
}
.projects-table {
  text-align: left;
}
.projects-table table {
  min-width: 1000px;
    border-spacing: 0;
}
.projects-table table tr td,
.projects-table table tr th {
  margin: 0;
  padding: 15px;
}
.projects-table table tr th:not(:last-child) {
  border-left: 1px solid #EEE;
}
.projects-table table tbody td {
  border-left: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.projects-table table tbody tr {
  transition: .5s;
}
.projects-table table tbody tr:hover {
  background-color: #EEE;
}
.projects-table table tbody td:last-child {
  border-right: 1px solid #faf7f7;
}
.projects-table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #ffff;
}
.projects-table .team img:not(:first-child) {
  margin-left: -20px;
}
/* End Projects-table */
/* End content */