/* Start Box */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .d-block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.me-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.m-auto {
  margin: auto;
}
/* End Padding + Margin */
/* Start Color */
.bg-eee {
  background-color: #EEE;
}
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.color-black {
  color: black;
}
.color-grey {
  color: var(--grey-color);
}
.color-white {
  color: white;
}
.color-blue {
    color: var(--blue-color);
}
.color-orange {
  color: var(--orange-color);
}
.color-green {
  color: var(--green-color);
}
.color-red {
  color: var(--red-color);
}
/* End Color */
/* Start Postion */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
/* End Postion */
/* Start Width + Height */
.w-100 {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* End Width + Height */
/* Start Text */
.text-center {
  text-align: center;
}
@media (max-width: 767px) {
  .text-center-mobile {
    text-align: center;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/* End Text */
/* Start Font */
.fs-14 {
  font-size: 14;
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* End Border */
/* Start Media */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* End Media */
/* Start Component */
.between-center-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Component */